html, body{
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(236, 238, 240);
}

/* nav content */

#nav_container{
    display: flex;
    height: 600px;
}

#nav_content{
    width: 100%;
    height: 500px;
    background-color: rgb(236, 238, 240);
}

#nav_img{
   width: 100%;
   height: 500px;
   background-image: url("../img/nav_img.jpg");
   background-color: rgb(131, 127, 131);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
   box-shadow: 2px 2px 4px #777575;

}

nav{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
    opacity: 0.8;
    
}

nav>h1{
  position: static;
  font-size: 50px;
  font-weight: normal;
  font-style: italic;
  margin-bottom:0;
  margin-left: 5%;
  text-shadow: 2px 2px 4px #2f2e2e;
}

#logo{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 2px 4px #777575;
}

nav ul{
    background-color: rgb(251, 249, 249);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    text-align: center; 
    box-shadow: 0 0 20px 0 rgba(166, 163, 166, 0.371), 0 5px 5px 0 rgba(116, 114, 116, 0.333);
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    width: 200px;
    padding: 25px;
    margin: 1px;
    padding-left: 20px;
   
}

nav ul li:hover,
#selected{
    background-color: rgb(29, 176, 159);
    
}

#selected>a,
nav ul li:hover>a{
    color: white;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 25px 50px;
    font-size: 17px;

}

/* About Content */

#about_container{
    background-color: white;
    display: flex;
    height: 500px;
}

#about_img{
   width: 100%;
   height: 500px;
   margin-top:10%;
   background-image: url("../img/about.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
   box-shadow: 2px 2px 4px #777575;
}

#about_content{
    width: 100%;
    height: auto;
    margin-top:10%;
    background-color: white;
}

#about_content>h1{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 2px 4px #777575;
    border-bottom: 2px solid rgb(29, 176, 159);
    margin:0px 20px;
}

#about_content>p{
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    text-indent: 50px;
    margin:15px 35px;
}

/* projects container */

#projects_container{
    background-color: rgb(236, 238, 240);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 300px;
    padding-top: 200px;
}

#projects_title{
    width: 300px;
    height: auto;
    margin: 15px;
    
}

#projects_title>h1{
    font-size: 50px;
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 2px 4px #777575;
}


.projects_img{
    width: 300px;
    height: auto;
    margin: 15px;
    box-shadow: 2px 2px 4px #777575;
    background-size: 100% 100%;
}
.first{
    background-image: url("../img/project1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.second{
    background-image: url("../img/project2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.third{
    background-image: url("../img/project3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}


/* Formular de Contact */

#form{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 500px;
    width: 100%;
    
}

#clients{
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 400px;
    background-color: rgba(29, 176, 159, 0.97);
    border: 1px solid #afadad;
    box-shadow: 2px 2px 4px #777575;
    margin-top: 300px;
    margin-right: 900px;
    padding: 20px;
}

#clients>h1{
    text-align: center;
    color: white;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 35px;
    word-spacing: 10px;
    margin-top: 30px;
}
#clients i {
    font-size: 40px;
    color: rgb(239, 237, 237);
}

#clients p:nth-child(2) {
margin: 10px;
padding: 5px;
text-align:justify;
color: white;

}

#clients p:nth-child(3){
    margin:10px ;
    color: white;
    padding-bottom: 10px;
}

#form_container{
    width: 100%;
    height: 100%;
    margin-left: 500px;
    background-color: rgb(236, 238, 240);
    box-shadow: 2px 2px 4px #777575;
    margin-top: 5%;
}

#form_container h1, h4{
    font-weight: normal;
    font-style: italic;
    text-shadow: 2px 2px 4px #777575;
    text-align: center;
}

#form_container h4{
    border-bottom: 2px solid rgb(29, 176, 159);
    padding-bottom: 10px;
    margin: 20px 15%;
}

#form_container input,
#form_container textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 15%;
  resize: none;
}

#form_container button {
    width: 70%;
    margin-left: 15%;
    background-color: #25a02b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }

#form_container button:hover{
    background-color: #09ae11;
}

#form_container button:active{
    border: 1px solid #388b3c;
    box-shadow: 0 0 20px 0 rgba(40, 164, 63, 0.397), 0 5px 5px 0 rgba(26, 137, 54, 0.386);
}

#form_container input:focus,
#form_container textarea:focus{
    outline: 0;
    border: 1px solid rgb(171, 169, 171);
    box-shadow: 2px 2px 4px #777575;
}

#form_container input:valid, 
#form_container textarea:valid{
    border: 2px solid rgb(63, 164, 49);
    box-shadow: 0 0 20px 0 rgba(40, 164, 63, 0.397), 0 5px 5px 0 rgba(26, 137, 54, 0.386);
}

#form_container input:invalid, 
#form_container textarea:invalid{
    border: 2px solid rgb(243, 180, 180);
}

/* footer container */

#footer_container{
   width: 100%;
   height: 625px;
   background-image: url("../img/footer.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
}
/* footer */

#footer>footer{
    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 10px;
    background-color: black;
    color: white;
}

#footer> footer div i{
    margin-left: 20px;
}


@media only screen and (max-width: 600px) {
    #nav_container{
        height: 400px;
    }
    #nav_content{
        height: auto;
    }
    #nav_img{
        width: 100%;
        height: auto;
        background-size: 100% 100%;
        background-size: cover;
        background-position: center;
    }

    nav>h1{
        position: relative;
        font-size: 35px;
        padding-top: 25px;
        margin-bottom:2%;
        left: 10px;
        margin-left: 0 auto;
    }

    nav{
        top: 25%;
        width: 70%;
    }

    #logo{
        font-size: 20px;
    }

    #about_container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #about_img{
        width: 100%;
     }

    #projects_container{
        height: 500px;
        padding-top: 1%;
        margin: 2px;
    }

    #projects_title{
        text-align: center;
        margin-bottom: 100px;
    }

    .projects_img{
        background-size: cover;
        padding-bottom: 250px;
    }

    #form{
        margin-top: 500px;
    }
    #form_container{
        width: auto;
        height: auto;
        margin:0;
        border: 0;
       
    }

    #footer_container{
        width: 100%;
        height: 425px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
     }

    #form_container input,
    #form_container textarea,
    #form_container button {
        width: 70%;
        margin-left: 70px;
        resize: none;
        text-align: center;
    } 
    
    #footer> footer div i{
        margin-left: 10px;
    }
    

  }

  @media only screen and (max-width: 1000px) {
    #projects_container{
        height: 750px;
        padding-top: 100px;
    }

    #form_container{
        width: 700px;
        height: auto;
        margin: auto;
        margin-top: auto;
        
    }

    #clients{
        position: absolute;
        width: 350px;
        height: 300px;
        margin: auto;
        margin-top:600px ;
        padding: 10px;
    }

  }

